@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.leaflet-container {
  outline: none !important;
  background: #000 !important;
  cursor: default !important;
}

.leaflet-container * {
  cursor: default !important;
}

.buildings path {
  stroke: #22cccc !important;
  stroke-width: 1 !important;
  fill: rgba(10, 200, 200, .15) !important;
  filter: drop-shadow(0 0 6px rgba(10, 200, 200, .4));
  fill-opacity: 1 !important;

  transition: fill .15s ease-out, filter .15s ease-out, stroke-width .15s ease-out;
}

.buildings path:hover {
  fill: rgba(10, 200, 200, .4) !important;
  filter: drop-shadow(0 0 6px #22cccc);
  stroke-width: 3 !important;
}

a {
  text-decoration: underline;
  color: #22cccc;
  cursor: pointer;
}

input {
  background: #333;
  outline: none;
  border-radius: 3px;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

button[type=submit] {
  background: #377;
  outline: none;
  border-radius: 3px;

  transition: background .15s ease-out;
}

button[type=submit]:hover {
  background: #488;
}

